.sidebar {
  position: sticky;
  top: 80px;
  /* flex: 0.2; */
  /* width: 500px; */
  width: 300px !important;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.sidebar__avatar {
  margin-bottom: 10px;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.sidebar__top > h4 {
  color: gray;
  font-size: 12px;
}

.sidebar__top > h2 {
  font-size: 18px;
}

.sidebar__top > img {
  margin-bottom: -20px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.sidebar__profile__details {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.sidebar__profile {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar__profile__details > p {
  color: gray;
  font-size: 13px;
  font-weight: 600;
}

.sidebar__profile__value {
  font-weight: bold;
  color: #0a66c2 !important;
}

.sidebar__bottom {
  text-align: left;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 45px;
}
.sidebar__bottom > h3 {
  font-size: 18px;
  text-align: center;
  padding-bottom: 5px;
}

.sidebar__skills {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.sidebar__skills > p {
  display: flex;
  font-size: 13px;
  color: grey;
  font-weight: bolder;
  cursor: pointer;
  padding: 5px;
}

.sidebar__skills:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

/* .skills__top {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: black;
} */
