.login-form {
  justify-content: center;
  min-height: 90vh;
  /* min-width: 400px; */
}
.button-block {
  width: 100%;
}
.login-background {
  justify-content: center;
  min-height: 30vh;
  padding: 50px;
  width: 400px;
}

.image__logo {
  object-fit: contain;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* align-items: center; */
}
.MuiGrid-container {
  /* background-image: url("LoginBackground.jpg"); */
  /* background-repeat: no-repeat; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
